{% extends 'user/base.html' %}


{% block content %}
{% for event in events %}
<div><
<h3><a href="{% url 'event-detail' event.id %}">{{ event.name }}</a></h3>
<h2>{{ event.name }}</h2>

<p>Start Date: {{ event.start_date }}</p>
<p>End Date: {{ event.end_date }}</p>
<p>Location: {{ event.location }}</p>
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<a href="{% url 'userapp:book-event' event.pk %}">Book this Event</a>

</div>
{% endfor %}
{% endblock %}

